<!DOCTYPE html>
<html lang="en" style="background-color: white; transition: background-color 0.15s ease 0s;" class="ss-shaded-scrollbars">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Fibonacci</title>
      <link rel="stylesheet" href="media/css/style.css">
   </head>
   <body>
      <header style="background-color: #165FE7; color:white; align:center; height:5px" >
      </header>
      <nav style="background-color: #2C2C2C; color:#9d9d9d; align:center; height:50px">
         <div class="container">
            <a class="navbar-brand">
            <span class="ml-1">Nth-FIBONACCI</span>
            </a>
         </div>
      </nav>
      {% block body %}
      <!-- main html -->
      {% endblock %}
      <footer  class="fixed-bottom">
         <div class="footer-main bg-dark py-4 small">
            <div class="container">
               <a href="">Fibonacci </a>is a project created by Shinto Joseph
            </div>
         </div>
      </footer>
    </body>
</html>
